#top.bg
	#home.header
		.top-header
			.container
				.logo
					//is there supposed to be a logo here? jz
				nav.top-nav
					ul.top-nav
						li
							a(href="/index.html", title="Home") Home
						li
							a(href="/pages/about.html") About
						li
							a(href="/pages/minutes.html", title="Minutes") Minutes
						li
							a(href="/pages/events.html", title="Events") Events
						li
							a(href="/pages/resources.html", title="Resources") Resources
						li
							a(href="/pages/contact.html", title="Contact") Contact
						//li
							a(href="elections2017", title="Elections 2017") Elections 2017
					a#pull(href="index.html")
						img(src="img/nav-icon.png", title="menu")
				.clearfix  
	//header-info
	.header-info.text-center
		.container
			#stuco-logo
				a(href="#")
					img(src="img/stuco logo sized.png", title="")
	.clearfix  
	//header-info
	