extends ../layouts/basic.pug

block content
	#team.team
		.container
			.team-head.text-center
				h4
					| About 
					span us
				br
				p
					| The Northside College Prep Student Council's main purpose is to represent the student body, keep the student body informed, and promote a positive student life in the school.
				p
					u
						a(href="constitution.html") Read the full constitution...
				br
			.team-head.text-center
				h4
					| our 
					span team
			// team-members
			.team-members.text-center
				.col-md-4
					.team-member
						img(src="/img/profiles/ML.jpg", title="Mindren Lu")
						h5
							span  Mindren 
							| Lu
						label President - Adv. 810
				.col-md-4
					.team-member
						img(src="/img/profiles/EW.jpg", title="Emma Williamson")
						h5
							span  Emma 
							| Williamson
						label Vice President - Adv. 908
				.col-md-4
					.team-member
						img(src="/img/profiles/MV.jpg", title="Matthew Villalon")
						h5
							span  Matthew 
							| Villalon
						label Secretary - Adv. 903
				.col-md-4
					.team-member
						img(src="/img/profiles/IK.jpg", title="Ibraheem Khan")
						h5
							span  Ibraheem 
							| Khan
						label Treasurer - Adv. 810
				.col-md-4
					.team-member
						img(src="/img/profiles/JZ.jpg", title="Justin Ziegelmueller")
						h5
							span  Justin 
							| Ziegelmueller
						label PR Director - Adv. 804	
				.col-md-4
					.team-member
						img(src="/img/profiles/LM.jpg", title="Llorenz Meliton")
						h5
							span  Llorenz 
							| Meliton
						label Webmaster - Adv. 903
				.col-md-4
					.team-member
						img(src="/img/profiles/EK.jpg", title="Esther Kim")
						h5
							span  Esther 
							| Kim
						label Marketing Director - Adv. 809
				.col-md-4
					.team-member
						img(src="/img/profiles/DG.jpg", title="Dylan Garcia")
						h5
							span  Dylan 
							| Garcia
						label Senior Senator - Adv. 803
				.col-md-4
					.team-member
						img(src="/img/profiles/MM.jpg", title="Madelin Meade")
						h5
							span  Madeline 
							| Meade
						label Senior Senator - Adv. 808
				.col-md-4
					.team-member
						img(src="/img/profiles/YK.jpg", title="Yale Kolin")
						h5
							span  Yale 
							| Kolin
						label Junior Senator - Adv. 907
				.col-md-4
					.team-member
						img(src="/img/profiles/SG.jpg", title="Sahithi Gangavarapu")
						h5
							span  Sahithi 
							| Gangavarapu
						label Junior Senator - Adv. 907
				.col-md-4
					.team-member
						img(src="/img/profiles/FC.jpg", title="Fiona Collins")
						h5
							span  Fiona 
							| Collins
						label Sophomore Senator - Adv. 002
				.col-md-4
					.team-member
						img(src="/img/profiles/RM.jpg", title="Ruba Memon")
						h5
							span  Ruba 
							| Memon
						label Sophomore Senator - Adv. 006
				.col-md-4
					.team-member
						img(src="/img/profiles/CD.jpg", title="Caleb DeBerry")
						h5
							span  Caleb
							| DeBerry
						label Freshman Senator - Adv.
				.col-md-4
					.team-member
						img(src="/img/profiles/EC.jpg", title="Evan Chen")
						h5
							span  Evan
							| Chen
						label Freshman Senator - Adv.
				.col-md-12
					.team-member
						img(src="/img/profiles/hetler.jpg", title="Ms. Hetler")
						h5
							span Ms. 
							| Hetler
						label Moderator
				.clearfix  
			// - team-members -
	// - team -
	.clearfix  
	.clearfix  
	// - wedo-grids