extends ../layouts/basic.pug

block content
	#team.team
		.container
			.team-head.text-center
				h4
					| About Us
					span us
				br
				p
					| The Northside College Prep Student Council's main purpose is to represent the student body, keep the student body informed, and promote a positive student life in the school.
				p
					u
						a(href="constitution.html") Read the full constitution...
				br
			.team-head.text-center
				h4
					| our 
					span team
			// team-members
			.team-members.text-center
				.col-md-4
					.team-member
						img(src="/img/profiles/img/mindren1617.gif", title="name")
						h5
							span  Mindren 
							| Lu
						label President - Adv. 810
				.col-md-4
					.team-member
						img(src="/img/profiles/img/emma1617.gif", title="name")
						h5
							span  Emma 
							| Williamson
						label Vice President - Adv. 908
				.col-md-4
					.team-member
						img(src="/img/profiles/matthew1617.gif", title="name")
						h5
							span  Matthew 
							| Villalon
						label Secretary - Adv. 903
				.col-md-4
					.team-member
						img(src="/img/profiles/img/ibraheem1617.gif", title="name")
						h5
							span  Ibraheem 
							| Khan
						label Treasurer - Adv. 810
				.col-md-4
					.team-member
						img(src="/img/profiles/img/justin1617.gif", title="name")
						h5
							span  Justin 
							| Ziegelmueller
						label PR Director - Adv. 804	
				.col-md-4
					.team-member
						img(src="/img/profiles/img/llorenz1617.gif", title="name")
						h5
							span  Llorenz 
							| Meliton
						label Webmaster - Adv. 903
				.col-md-4
					.team-member
						img(src="/img/profiles/img/esther1617.gif", title="name")
						h5
							span  Esther 
							| Kim
						label Marketing Director - Adv. 809
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Dylan 
							| Garcia
						label Senior Senator - Adv. 803
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Madeline 
							| Meade
						label Senior Senator - Adv. 808
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Yale 
							| Kolin
						label Junior Senator - Adv. 907
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Sahithi 
							| Gangavarapu
						label Junior Senator - Adv. 907
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Fiona 
							| Collins
						label Sophomore Senator - Adv. 002
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  Ruba 
							| Memon
						label Sophomore Senator - Adv. 006
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  
						label Freshman Senator - Adv.
				.col-md-4
					.team-member
						img(src="/img/profiles/img/Stuco Logo FOR HEADSHOTS.PNG", title="name")
						h5
							span  
						label Freshman Senator - Adv.
				.clearfix  
			// - team-members -
	// - team -
	.clearfix  
	.clearfix  
	// - wedo-grids
	// - we do --
	script(src="js/jquery.chocolat.js")