extends ../layouts/basic.pug

block content

	#wedo.wedo
		.container
			.wedo-head.text-center
				h3 Contact Us
			// - wedo-grids --
			.wedo-grids
				.col-md-12.wedo-left
					.col-md-12.wedo-left
						h4
							label
							| Contacting Student Council
						h2
							| If you have questions or suggestions, contact Student Council by emailing 
							strong ncp.studentcouncil@gmail.com
							|  or by filling out the form below.
						br
						iframe(src="https://docs.google.com/a/cps.edu/forms/d/e/1FAIpQLSdILpzVvhPcXaHx964eyqLwdZx3YiGdnya0Ucs2Bfe8FBZUYA/viewform?embedded=true", width="760", height="500", frameborder="0", marginheight="0", marginwidth="0") Loading...
						h2
							| You may also contact Student Council's moderator, Ms. Veronica Hetler by emailing 
							strong vkhetler@cps.edu
							| .
						h4
							label
							| Contacting the Webmaster
						h2
							| If you notice any bugs, typos, or otherwise incorrect information, contact the webmaster by emailing lameliton@cps.edu.
						br
						h4
							label
							| Add Student Council on Social Media!
						h2
							strong Facebook:
							|  NCP Student Council (
							a(href="https://www.facebook.com/ncpstudentcouncil/", target="_blank") @ncpstudentcouncil
							| )
						h2
							strong Instagram:
							|  @ncpstuco
						h2
							strong Twitter:
							|  @ncp_stuco
						h2
							strong Snapchat:
							|  ncp_stuco
						img(src="img/Stuco Snapchat Cropped.jpg", alt="Snapcode", title="Stuco Snapcode", height="400")
							