extends ../layouts/basic.pug

block content
	#wedo.wedo
		.container
			.wedo-head.text-center
				h3
					span 2016-2017
					|  Meeting 
					span Minutes
			// - wedo-grids --
			.wedo-grids
				.col-md-12.wedo-left
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=1-R2HTOh23ga6TXLljTmEgTg18u4A69dtl4JSrqGMGQ0", target="_blank")
								u 10/17/2017
						p
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=1q4ud5q-mzJtaGW5TDEHTja3qL1pQs0zi1hXkEnJe5_M", target="_blank")
								u 10/3/2017
						p
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=1hHMZwtWlB8SqiHENPFvIRbwRtLRZCOvt2jDp_yUsfhk", target="_blank")
								u 9/26/2017
						p
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=12AK6f2DnlWJGrUTpy0bOSgYcIBc8LF-1bjNIkDYkosc", target="_blank")
								u 9/19/2017
						p
					.minute-block
						h4
							label
							a(href="https://docs.google.com/a/cps.edu/document/d/1yXaKau8ROiTXJ-DawE3ACvEF8f1beKezYXrwAyPMULg/edit?usp=sharing", target="_blank")
								u 9/12/2017
						p
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=1yCpeJkNrax9oE-7IoJWJ9DAXcEH5Ok9xEFq3NxQ7VNU", target="_blank")
								u 8/24/2017
						p
					.minute-block
						h4
							label
							a(href="https://drive.google.com/open?id=0B-q6b9-bVpeLY19PM1d1TkdHbnc", target="_blank")
								u 2016-2017 Minutes Archive
						p
					.minute-block
						h4
							label
							a(href="https://docs.google.com/document/d/1f_J16mcR831eqkR4AedvKq_RZX3SJcuJFDB8Nrfb0SE/edit?usp=sharing", target="_blank")
								u 2015-2016 Minutes Archive
					//
						--              <div class="minute-block">
						<h4><a href="minutes15.html"><u>2014-2015 Minutes Archive</u></a></h4>
						</div>
						<div class="minute-block">
						<h4><a href="minutes14.html"><u>2013-2014 Minutes Archive</u></a></h4>
						</div>  --
			.clearfix  
		// - wedo-grids
