.footer.text-center
	// ADD STUDENT COUNCIL LOGO HERE
	// <a href="#"><img src="images/footer-logo.png" title="daisy" /></a>
	p.copy-right
		strong © 2017 NCP Student Council
	script(type="text/javascript").
		$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutCubic' });
		});
	a#toTop(href="#", style="display: block;")
		span#toTopHover(style="opacity: 1;")  
