title NCP Student Council

link(href="assets/css/bootstrap.css", rel="stylesheet", type="text/css")
link(href="assets/css/style.css", rel="stylesheet", type="text/css")
link(href="assets/css/chocolat.css", rel="stylesheet", type="text/css", media="screen")

script(type="text/javascript", src="assets/js/jquery.min.js")
script(type="text/javascript", src="assets/js/move-top.js")
script(type="text/javascript", src="assets/js/easing.js")
script(type="text/javascript", src="assets/js/jquery.chocolat.js")
script(type="text/javascript", src="assets/js/light-box-files.js")
//smoothscroll
script(type="application/x-javascript", src="assets/js/smooth-scroll.js")
script(type="text/javascript", src="assets/js/top-nav.js")
script(async type="text/javascript", src="js/easyResponsiveTabs.js")

//metas will go here		
//meta(name="viewport" content="width=device-width, initial-scale=1")